# Dependencies
node_modules/

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Build artifacts / Releases
*.zip
*.crx
dist/
build/

# Environment variables
.env
.env.local